body {
    background-color: black;
    background-size:cover;
}

.AR {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   padding: 10px;
}

.AR2 {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   padding: 10px;
}

#link1 {
    color: white;
}

#link2 {
    color: white;
    margin-left:800px;
    margin-top:40px;
}

#link3 {
    color: white;
    margin-left:950px;

}

#link4 {
    color: white;
    margin-left:1100px;
}

img {
   height: 900px;
   width: 100%;
}