body {
    background-image: url("AfricanR_Hero.jpg");
    background-position: center;
    background-size:cover;
}

.AR {
   border: solid 3px black;
   background-color: darkslategrey;
   width:60%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   padding: 10px;
}

.AR2 {
   border: solid 3px black;
   background-color: green;
   width:80%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   padding: 10px;
}