body {
    background-image:url("http://cdn01.wallconvert.com/_media/wallpapers_1920x1080/1/2/rock-paper-scissors-14676.png");
    background-size:100% 800px;
}

button {
    background-color:green;
    margin-top:20px;
    margin-left:200px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

#l3 {
    background-color:green;
    margin-left:342px;
    margin-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}
#l1 {
    background-color:green;
    margin-left:405px;
    margin-top:20px;
    padding-left:12px;
    padding-right:12px;
    padding-top:10px;
    padding-bottom:10px;
}

#img1 {
    margin-left:0px;
}

#img2 {
    margin-left:50px;
}

#img3 {
    margin-left:40px;
}

h2 {}

